<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is a test page</title>
</head>
<body>
    This is a test page for Django project.
    To check the template rendering.
    
    <p>variable passed from views: {{variable1}}</p>
    <p>variable passed from views: {{variable2}}</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae dignissimos delectus vitae nemo, explicabo aperiam dolorem iusto nam ad! Ipsa ducimus, deserunt quasi ipsam explicabo et iusto! Temporibus, repudiandae et.
    </p>
</body>
</html>

<!-- Additional Context: You can easily see the source by selecting "View Page Source" in your browser. -->